* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cta-text: hsl(356, 100%, 66%);
  --cta-hover-background: hsl(355, 100%, 74%);
  --headings: hsl(208, 49%, 24%);
  --footer-text: hsl(240, 2%, 79%);
  --footer-background: hsl(240, 10%, 16%);
  --body-copy: hsl(207, 13%, 34%);
  --cta-gradient-very-red: hsl(13, 100%, 72%);
  --cta-gradient-red: hsl(353, 100%, 62%);
  --background-gradient-blue: hsl(237, 17%, 21%);
  --background-gradient-desaturated: hsl(237, 23%, 32%);
}

body {
  background-color: #EFEFEF;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 40px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10%;
}

.navbar .navbar-content {
  display: none;
}

.navbar .navbar-content.mobile-navbar {
  background-color: white;
  width: calc(100% - 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 80px;
  margin: 0 auto;
  padding: 1rem 1rem 2rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  z-index: 1;
}

.navbar .navbar-content.mobile-navbar ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #8080805F;
}

.navbar .navbar-content.mobile-navbar ul li {
  width: 100%;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 1rem 0;
}

.navbar .navbar-content.mobile-navbar ul li.selected h5 {
  opacity: 70%;
}

.navbar .navbar-content.mobile-navbar ul li.selected h5::before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.navbar .navbar-content.mobile-navbar ul li.selected .options {
  background-color: #EFEFEF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: default;
}

.navbar .navbar-content.mobile-navbar ul li.selected .options .option {
  width: auto;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--headings);
  font-size: 1rem;
  font-family: 'Overpass', sans-serif;
  opacity: 80%;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
}

.navbar .navbar-content.mobile-navbar ul li.selected .options .option:hover {
  color: black;
  opacity: 90%;
  font-weight: 600;
}

.navbar .navbar-content.mobile-navbar ul li h5 {
  color: var(--headings);
  font-size: 1.4rem;
  font-family: 'Overpass';
  font-weight: 700;
  letter-spacing: 0.04rem;
  margin-right: 5px;
  position: relative;
}

.navbar .navbar-content.mobile-navbar ul li h5::before {
  content: '';
  background-image: url("../assets/icon-arrow-dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: -20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-content.mobile-navbar ul li .options {
  display: none;
}

.navbar .navbar-content.mobile-navbar section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-content.mobile-navbar section .navbar-button {
  width: 60%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin: 0.5rem 0;
  cursor: pointer;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.navbar .navbar-content.mobile-navbar section .navbar-button.button--login {
  background-color: transparent;
  color: var(--headings);
  font-size: 1.5rem;
  font-weight: 500;
  border: 0;
  outline: 0;
}

.navbar .navbar-content.mobile-navbar section .navbar-button.button--signup {
  background: -webkit-gradient(linear, left top, right top, from(var(--cta-gradient-very-red)), to(var(--cta-gradient-red)));
  background: linear-gradient(90deg, var(--cta-gradient-very-red), var(--cta-gradient-red));
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  border: 0;
  border-radius: 30px;
}

.navbar .navbar-content.mobile-navbar section .navbar-button.button--signup:hover {
  background: var(--cta-hover-background);
  color: white;
}

.navbar .navbar-content.mobile-navbar ~ .button--navbar {
  background-image: url("../assets/icon-close.svg");
}

.navbar .button--navbar {
  background: transparent;
  background-image: url("../assets/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--cta-gradient-very-red)), to(var(--cta-gradient-red)));
  background: linear-gradient(var(--cta-gradient-very-red), var(--cta-gradient-red));
  width: 100%;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Overpass', sans-serif;
  border-bottom-left-radius: 100px;
  margin-bottom: 5rem;
  padding: 0rem 1.5rem;
  overflow: hidden;
}

header::before {
  content: '';
  background-image: url("../assets/bg-pattern-intro.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 200%;
  height: 300%;
  position: absolute;
  top: -80%;
  right: -85%;
  z-index: 1;
}

header * {
  z-index: 2;
}

header .header-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 2rem;
}

header .header-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

header .header-button-container {
  max-width: 400px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .header-button-container .header-button {
  width: 45%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

header .header-button-container .button--start {
  background-color: white;
  color: var(--cta-gradient-red);
}

header .header-button-container .button--start:hover {
  background-color: var(--cta-hover-background);
  color: white;
}

header .header-button-container .button--learn {
  background: transparent;
  color: white;
  font-weight: 500;
  border: 1px solid white;
}

header .header-button-container .button--learn:hover {
  background-color: white;
  color: var(--cta-gradient-red);
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.design-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
}

.design-container .design-title {
  width: 100%;
  color: var(--headings);
  font-size: 1.6rem;
  font-family: 'Overpass', sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.design-container .design-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3rem;
}

.design-container .design-content .design-image {
  background-image: url("../assets/illustration-editor-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 300px;
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
}

.design-container .design-content .design-texts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Overpass', sans-serif;
}

.design-container .design-content .design-texts .text {
  color: var(--body-copy);
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 2.5rem;
}

.design-container .design-content .design-texts .text strong {
  color: var(--headings);
  font-size: 2rem;
  margin-bottom: 56rem;
}

.infrastructure-container {
  background-color: var(--background-gradient-blue);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
  padding: 0 0 1rem;
  border-radius: 0 60px 0 60px;
  z-index: -2;
}

.infrastructure-container .infrastructure-bg1 {
  width: 100%;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 2rem;
  overflow: none;
}

.infrastructure-container .infrastructure-bg1::before {
  content: '';
  max-width: 300px;
  width: 100%;
  height: 350px;
  background-image: url("../assets/illustration-phones.svg");
  background-position: center;
  background-size: cover;
  position: relative;
  top: -40%;
}

.infrastructure-container .infrastructure-bg2 {
  max-width: 800px;
  width: 100%;
  height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.infrastructure-container .infrastructure-bg2::before {
  content: '';
  background-image: url("../assets/bg-pattern-circles.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: -25%;
  z-index: -1;
}

.infrastructure-container .infrastructure-texts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: 'Overpass', sans-serif;
  text-align: center;
  padding: 0 10% 5rem;
}

.infrastructure-container .infrastructure-texts .title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.infrastructure-container .infrastructure-texts .text {
  font-size: 1.15rem;
  line-height: 1.6rem;
  letter-spacing: 0.04rem;
}

.opensource-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3rem;
  margin-bottom: 5rem;
}

.opensource-container .opensource-image {
  background-image: url("../assets/illustration-laptop-mobile.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 120%;
  height: 300px;
}

.opensource-container .opensource-texts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Overpass', sans-serif;
}

.opensource-container .opensource-texts .text {
  width: 100%;
  color: var(--body-copy);
  font-size: 1.3rem;
  line-height: 2.2rem;
  margin-bottom: 2.5rem;
}

.opensource-container .opensource-texts .text strong {
  color: var(--headings);
  font-size: 2rem;
  font-weight: 600;
}

footer {
  background-color: var(--footer-background);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 2rem 1rem;
  border-top-right-radius: 50px;
}

footer .logo-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

footer .logo-container .footer-logo {
  max-width: 100px;
  width: 60%;
}

footer .footer-paths {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3rem;
}

footer .footer-paths .path-title {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  margin-bottom: 1.2rem;
}

footer .footer-paths .path {
  color: var(--footer-text);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.9rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .footer-paths .path:hover {
  opacity: 80%;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */