@media screen and (min-width: 800px) {
  .navbar {
    padding: 0 15%;

    .navbar-content {
      background-color: transparent !important;

      width: 100% !important;
      height: 50px !important;
      
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      justify-content: space-between !important;

      padding: 0 !important;
      padding-left: 1.5rem !important;

      position: initial !important;

      box-shadow: none !important;

      ul {
        max-width: 350px !important;
        width: 100% !important;
        height: 50px !important;

        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-start !important;

        list-style: none;

        margin: 0 !important;
        padding: 0 !important;

        border: 0 !important;

        li {
          width: 100% !important;
          height: auto !important;

          display: flex !important;
          align-items: center !important;
          justify-content: center !important;

          margin: 0 !important;

          .options {
            display: none;
            
          }

          &.selected {
            position: relative !important;

            h5 {
              &::before {
                transform: rotate(-180deg);
              }
            }

            .options {
              background-color: white !important;

              width: 150% !important;

              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              padding: 1rem;

              position: absolute !important;
              top: 180%;

              box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2) !important;
              border-radius: 0.5rem;
              
              .option {
                width: auto;
                height: 30px;

                display: flex;
                align-items: center;
                justify-content: center;

                color: var(--headings);
                font-size: 1rem;
                font-family: 'Overpass', sans-serif;

                opacity: 80%;

                transition: color 0.2s;

                cursor: pointer;

                &:hover {
                  color: black;
                  opacity: 90%;

                  font-weight: 600;

                }

              }
            }
          }

          h5 {
            color: white !important;
            font-size: 1rem !important;
            font-family: 'Overpass', sans-serif  !important;
            font-weight: 600 !important;
            letter-spacing: 0.04rem !important;

            margin-right: 5px !important;

            position: relative !important;

            &::before {
              content: '';
  
              background-image: url('../assets/icon-arrow-light.svg') !important;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
  
              width: 10px;
              height: 100%;
  
              display: flex;
              align-items: center;
              justify-content: center;
  
              position: absolute;
              top: 0;
              right: -15px;

              transition: 0.3s;
  
            }

            cursor: pointer;
          }
        }
      }
  
      section {
        max-width: 350px;
        width: 50% !important;

        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-evenly !important;

        .navbar-button {
          width: 35% !important;
          height: 50px;
          
          display: flex;
          align-items: center;
          justify-content: center;

          font-family: 'Roboto', sans-serif;

          margin: 0 !important;

          cursor: pointer;

          transition: opacity 0.3s;

          &.button--login {
            background-color: transparent;

            color: white !important;
            font-size: 1.3rem !important;
            font-weight: 500;

            border: 0;
            outline: 0;
          }

          &.button--signup {
            background: white !important;

            color: var(--cta-gradient-red) !important;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 0.04rem;

            border: 0;
            border-radius: 30px;

            transition: all 0.2s;

            &:hover {
              background: var(--cta-hover-background) !important;
              color: white !important;
            }
          }
        }
      }

    }
    
    .button--navbar {
      display: none;
    }
  }
  
  header {
    .header-title {
      font-size: 2.8rem;
    }

    .header-text {
      font-size: 1.5rem;
      
    }
  
  }

  .design-container {
    margin-bottom: 6rem;

    .design-title {
      font-size: 2rem;
      font-family: 'Overpass', sans-serif;
      font-weight: 600; 

      margin-bottom: 5rem;

    }

    .design-content {
      flex-direction: row-reverse;

      padding: 0;
      padding-left: 10rem;

      .design-image {
        background-image: url('../assets/illustration-editor-desktop.svg');
        background-size: contain;
        background-attachment: local;
        background-position: right center;

        height: 100vh;

      }

      .design-texts {
        text-align: start;

        padding-right: 5rem;

        .text {
          max-width: 500px;
          font-size: 1.2rem;
          font-family: 'Overpass', sans-serif;

          strong {
            font-size: 1.6rem;
            font-weight: 600;
          }

        }
      }
    }
  }

  .infrastructure-container {
    height: 100%;

    flex-direction: row;
    align-items: flex-start;

    margin-bottom: 8rem;

    .infrastructure-bg1 {
      max-width: 600px;
      height: 100%;
      margin: 0;

      &::before {
        width: 100%;
        height: 300px;

        top: 0%;
        margin-top: 20px;
      }
    }

    .infrastructure-bg2 {
      height: 100%;

      overflow: none;

      &::before {
        width: 100%;
        height: 450px;

        top: -50%;
      }
    }

    .infrastructure-texts {
      max-width: 800px;
      align-items: flex-start;
      justify-content: center;

      text-align: start;
      padding: 5%;

    }
  }

  .opensource-container {
    flex-direction: row;

    padding: 0 5rem 0 0;

    .opensource-image {
      background-image: url('../assets/illustration-laptop-desktop.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: contain;
      object-position: center;
  
      width: 120%;
      height: 500px;

      margin-right: 2rem;
    }

    .opensource-texts {
      text-align: start;
      padding-right: 4rem;

    }
  }

  footer {
    flex-direction: row;
    align-items: flex-start;
    height: 350px;

    padding: 5rem 3rem;

    .logo-container {
      width: 80%;
      height: 100%;
  
      display: flex;
      align-items: flex-start;
      justify-content: center;
  
      .footer-logo {
        max-width: 100px;
        width: 60%;
    
      }
    }

  }

}

@media screen and (min-width: 400px) {
  .navbar {
    .navbar-content {
      &.mobile-navbar {
        width: calc(100% - 5.5rem);
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .navbar {
    .navbar-content {
      &.mobile-navbar {
        width: calc(100% - 7rem);
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .navbar {
    .navbar-content {
      &.mobile-navbar {
        width: calc(100% - 9rem);
      }
    }
  }
}